[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_CLOUDINARY_CLOUD_NAME = "dapwhs51t"
  VITE_CLOUDINARY_UPLOAD_PRESET = "cosmeticking"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
